/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body, h1, h2, h3, h4, h5, h6, a, input, select, textarea {
	font: 14px Arial, Helvetica, sans-serif;
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	margin:0 0 3px 0;
}

body, ul, ol, li{
	margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    text-align: justify;
}

.c {width:100%;clear:both;margin:0;padding:0;font-size:0;}

.left {float:left}
.right {float:right}

#site-wrapper {
	position:relative;
}

#header {
	height: 40px;
	width:100%;
	position:fixed;
	top:0;
}

#header ul {float:right;list-style:none;margin:0}
#header ul li {float:left;padding:3px 5px;}

#footer {
	height: 40px;
	width:100%;
	position:fixed;
	bottom:0;
	background: #757575 url(images/img08.gif) repeat-x 0 bottom;
}

form {
    margin: 0;
    padding: 0;
}

input, select, textarea {
    background: #FEFEFE url(images/img13.gif) repeat-x;
    border: 1px solid #626262;
}

.t-error,.t-error-single{color:red;}


/* Header */


div.menu {
    
}

div.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.menu li {
    display: block;
    float: left;
    height: 42px;
}

div.menu a {
    display: block;
    padding: 8px 20px 0px 20px;
    text-decoration: none;
    text-align: center;
    text-transform: lowercase;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #CEC5A4;
}

/* Page */

div.page {
    padding: 40px 0  40px;
    margin-bottom: 40px;
}

/* Content */

#page-content {padding:10px 30px;}

.sidebar ul {clear:both;overflow:hidden;list-style:none;}
.sidebar ul li {float:left;margin-right:2px;}
.sidebar ul li a {display:block;padding:2px 5px;border:1px solid gray;background-color:white;text-decoration:none;}

.content .post {margin:10px;}

.task-form {border:1px solid gray; padding:10px; background:white;overflow:hidden;}

/* Bean editor */
.t-beaneditor-row {padding:4px;}
.t-beaneditor-row label {float:left;width:200px;text-align:right;padding:5px;}
.t-beaneditor-row .t-beaneditor-submit {margin-left:210px;}
.popup-window {
	background-color:#f0f0f0;padding:10px 10px;
}

.popup-close {
	position:absolute;
	right:5px;top:5px;
}

.block {border:1px dashed gray;background:#ffffff;padding:10px 15px;margin-bottom:20px;overflow:hidden;}

/* Task Header */
.task-header .title {margin-bottom:15px;}
.task-header .title a {color:blue;font-size:15px}
.task-header .column {width:50%; float:left;}
.task-header .row b {width:150px; float:left;}
.task-header table th {text-align:right;}
.task-header table td {padding:2px 20px 2px 0;}

/* Task */
.task-info h1, .task-info h2{font-size:15px;font-weight:bold;}
#task-commits .commit, #task-commits .commit a{font: 12px/15px "Courier New" normal; margin-bottom:10px;}
#task-commits .commit a{color:green;}
#task-commits .commit div{line-height:150%}
#task-commits .commit .date{}
#task-commits .commit .date i{color:blue}
#task-commits .commit .comm{font-weight:bold;}
#task-commits .commit .deta {margin-left:25px;}
#task-commits .commit .deta .a{color:#9b0080}
#task-commits .commit .deta .m{color:#0032c1}
#task-commits .commit .deta .d{color:#ff003a}

/* Task popup */


/* Comments */
#task-comments label {clear:both}
#task-comments .comment {padding:0 0 5px;margin:0 0 6px;border-bottom:1px solid #c0c0c0;}
#task-comments .comment .date{margin-bottom:3px;}
#task-comments .comment .date a{color:green;text-decoration:none}
#task-comments .comment .text{}
#task-comments textarea{width:400px;border:1px solid #a0a0a0}
#task-comments .comment .text img{width:60px}
#task-comments .edit {display:none}
#task-comments .comment:hover .edit {display:block}
