body, h1, h2, h3, h4, h5, h6, a, input, select, textarea {
	font: 13px Arial, Helvetica, sans-serif;
	color: #000;
}

a {text-decoration:none;color:navy;}
a:hover {text-decoration:underline}

h1, h2, h3, h4, h5, h6 {
	margin:0 0 3px 0;
}

body, ul, ol, li{
	margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    text-align: justify;
}

.c {width:100%;clear:both;margin:0;padding:0;font-size:0;}

.left {float:left}
.right {float:right}

/* Tapestry */

.t-invisible {display:none}

#site-wrapper {
	position:relative;
}

#header {
	width:100%;
	position:fixed;
	top:0;
	background-color:#fff;
	border-bottom:1px solid gray;
}

#header ul {float:right;list-style:none;margin:0}
#header ul li {float:left;padding:3px 5px;}

#footer {
	height: 40px;
	width:100%;
	position:fixed;
	bottom:0;
	background: #757575 url(images/img08.gif) repeat-x 0 bottom;
}

form {
    margin: 0;
    padding: 0;
}

input, select, textarea {
    background: #FEFEFE url(images/img13.gif) repeat-x;
    border: 1px solid #626262;
}

.t-error,.t-error-single{color:red;}

.button {        
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    background-image: linear-gradient(to bottom, #eee, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    padding: 6px 10px;
    margin: 5px 0;
    font-weight: bold;
    text-decoration: none;
    color: #333 !important;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: 10px;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.button:hover {
	text-decoration: none;
    background-color: #ddd;        
    background-image: linear-gradient(top, #fafafa, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');        
}

.button:active {
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    position: relative;
    top: 1px;
}

.button:focus {
    outline: 0;
    background: #fafafa;
}    

.button:before {
    background: #ccc;
    background: rgba(0,0,0,.1);
    float: left;        
    text-align: center;
    font-size: 160%;
    margin:-6px 10px -6px -10px;
    padding: 0 7px;
    box-shadow: 1px 0 0 0 rgba(0,0,0,.5), 2px 0 0 0 rgba(255,255,255,.5);
    pointer-events: none;
    border-radius: 10px 0 0 10px;        
}

.button.add:before {
    content: "\271A";
}

.button.edit:before {
    content: "\270E";        
}

.button.delete:before {
    content: "\2718";        
}

.button.save:before {
    content: "\2714";        
}

.button.email:before {
    content: "\2709";        
}

.button.like:before {
    content: "\2764";        
}

.button.next:before {
    content: "\279C";
}

/* Header */


div.menu {
    
}

div.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.menu li {
    display: block;
    float: left;
    height: 42px;
}

div.menu a {
    display: block;
    padding: 8px 20px 0px 20px;
    text-align: center;
    text-transform: lowercase;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #CEC5A4;
}

/* Page */

#page-wrapper {
    padding: 40px 0  40px;
    margin-bottom: 40px;
}
#page-menu {width:270px;background-color:#f4f4f4;}
#page-menu ul li a {font-size:13px;display:block;padding:10px 20px;border-bottom:1px solid gray;border-top:1px solid white;}
#page-content {background-color:#f9f9f9;}

.sidebar ul {clear:both;overflow:hidden;list-style:none;}
.sidebar ul li {float:left;margin-right:2px;}
.sidebar ul li a {display:block;padding:2px 5px;border:1px solid gray;background-color:white;}

.content .post {margin:10px;}

.ticket-form {border:1px solid gray; padding:10px; background:white;overflow:hidden;}

/* Bean editor */
.t-beaneditor-row {padding:4px;}
.t-beaneditor-row label {float:left;width:200px;text-align:right;padding:5px;}
.t-beaneditor-row .t-beaneditor-submit {margin-left:210px;}
.popup-window {
	background-color:#f0f0f0;
	padding:10px 10px;
	min-width:500px;
	border:1px solid gray;
	box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
}
#popup-overlay {
	background:#fff;
	opacity:.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
}
.popup-close {
	position:absolute;
	right:5px;top:5px;
}

.title {font-weight:bold;}

.block {border:1px solid gray;background:#ffffff;padding:10px 15px;margin-bottom:20px;overflow:hidden;}

/* Task Header */
.ticket-header .title {margin-bottom:15px;}
.ticket-header .title a {color:navy;font-size:15px}
.ticket-header .column {width:50%; float:left;}
.ticket-header .row b {width:150px; float:left;}
.ticket-header table th {text-align:right;}
.ticket-header table td {padding:2px 20px 2px 0;}

/* Task */
.ticket-info h1, .ticket-info h2{font-size:15px;font-weight:bold;}
#ticket-commits .commit, #ticket-commits .commit a{font: 12px/15px "Courier New" normal; margin-bottom:10px;}
#ticket-commits .commit a{color:green;}
#ticket-commits .commit div{line-height:150%}
#ticket-commits .commit .date{}
#ticket-commits .commit .date i{color:blue}
#ticket-commits .commit .comm{font-weight:bold;}
#ticket-commits .commit .deta {margin-left:25px;}
#ticket-commits .commit .deta .a{color:#9b0080}
#ticket-commits .commit .deta .m{color:#0032c1}
#ticket-commits .commit .deta .d{color:#ff003a}

.shadow {box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);}

/* Project Map */
.project-map {overflow-y:hidden; overflow-x:scroll;width:100%;white-space:nowrap;}
.project-map-owerflow {display:inline-block;}
.project-map table {}
.project-map a {color:navy}
.project-map .feature-col {border:1px solid gray;}
.project-map .feature-col a {padding:5px;background-color:#006;color:white;display:block;font-weight:bold;text-align:left;}
.project-map .feature-col a:hover {background-color:#CC0000;}
.project-map .version-col {}
.project-map .version-col a{background-color:#006600;color:white;display:block;padding:10px;font-weight:bold;text-align:left;height:100%;}
.project-map .version-col a:hover{background-color:#008800}
.project-map .version-col.col, .empty-col.col {width:100px;}
.project-map .ticket-col {padding:6px 8px;}
.project-map .ticket-col-div {width:250px}
.project-map .ticket-col div{overflow:hidden;}
.project-map .ticket-col .owner {color:#660000}
.project-map .ticket-col .description {}
.project-map .title {margin:5px 0 3px;font-weight:bold;}
.project-map ul {list-style:none}
.project-map li, .project-map li a {font-size:12px;text-align:left;display:bloc;}
.project-map li {padding:0 0 5px;}


.progr-time {float:right;font-size:11px;padding:3px 3px;}
.progr-bar {border:1px solid gray;background:black;float:right;position:relative;width:60px;height:100%;}
.progr-bar .progr-bar-fill {background:green;height:100%;position:absolute;left:0;z-index:0;}
.progr-bar div {font-weight:normal;z-index:1;text-align:center;position:relative;font-size:11px;color:white;}

.project-map th {padding:0;white-space:normal;border:1px solid silver;box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);}
.project-map td {padding:3px 5px;vertical-align:top;white-space:normal;border:1px solid silver;box-shadow:5px 5px 5px 0 rgba(0, 0, 0, 0.5);}
.project-map tr.released-true td {background-color:#f0f0f0;}
.project-map tr.released-false td {background-color:#fff;}
.project-map tr.released-unknown td {background-color:#fffaf0;}

.project-map th.version-col a {color:white}

.project-map .progress .row {padding:3px 0;margin:5px 0 1px 0;font-size:90%;}

.version-user-map {overflow-y:hidden; overflow-x:scroll;width:100%;white-space:nowrap;position:relative1;}
.version-user-map-owerflow {display:inline-block1;position:absolute1;}
.version-user-map .version-col {padding:7px;border:1px solid gray;font-size:13px;margin:0 10px 10px 0;background-color:#006;color:white;}
.version-user-map .version-col.col, .empty-col.col {width:100px;}
.version-user-map .ticket-col {}
.version-user-map .ticket-col.unassigned {background-color:#d0d0d0;}
.version-user-map .ticket-cells {font-size:12px;width:270px;}
.version-user-map .ticket-cell-div {border:1px solid gray;padding:7px;margin:0 10px 10px 0;}
.version-user-map .ticket-cell-div.ui-draggable-dragging {width:270px;}
.version-user-map .ticket-cell-div.bug-true {background-color:#fff0d0;}
.version-user-map .ticket-cell-div .title {overflow:hidden;margin-bottom:3px;float:left1;}
.version-user-map .ticket-cell-div .title a{font-size:12px;}
.version-user-map .ticket-cell-div .status {}
.version-user-map .version-col .todo {border:1px solid gray;background-color:#f0f0d0;padding:2px 4px;color:black;}
.version-user-map .tickets .row {border:1px solid gray;background-color:#dddddd;padding:3px 3px;margin:0 1px 2px 0;font-size:90%;}
.version-user-map .bugs .row {border:1px solid red;background-color:#ffdddd;padding:3px 3px;margin:0 1px 2px 0;font-size:90%;}
.version-user-map .nowrap {white-space:nowrap;}
.version-user-map td {padding:0;vertical-align:top;white-space:normal;}

.version-user-map th.version-col a {color:white}

.version-user-map .ticket-col.ui-state-hover {background-color:#fff;}
.version-user-map .total-user-time {float:right;clear:right;border:1px solid gray;background:#f0fff0;padding:4px 8px;width:30px;}

.version-user-map .version-col ul {list-style:none}
.version-user-map .version-col ul li {padding-left:10px;}

.title a {text-align:left;}

/* Comments */
.comment-form label {clear:both}
.comment-form textarea{width:100%;border:1px solid #a0a0a0;padding:0}
.comment-form input {margin-top:10px;}
#ticket-comments .comment {padding:0 0 5px;margin:0 0 6px;border-bottom:1px solid #c0c0c0;}
#ticket-comments .comment .date{margin-bottom:3px;}
#ticket-comments .comment .date a{color:green;text-decoration:none}
#ticket-comments .comment .text{}
#ticket-comments .comment .text img{width:60px}
#ticket-comments .edit-row {display:none;float:right;}
#ticket-comments .edit-row a {float:left;margin:0 3px;}
#ticket-comments .comment:hover {background:#ffe;}
#ticket-comments .comment:hover .edit-row {display:block}

.comment-popup {width:700px;background:#fff;border:1px solid gray;}

body.tiny {background:#fff}
.tiny .te {border:1px solid #bbb; padding:0 1px 1px;/* font:12px Verdana,Arial; margin:25px*/}
.tiny .te iframe {border:none}
.tiny .teheader {height:31px; border-bottom:1px solid #bbb; background:url(images/header-bg.gif) repeat-x; padding-top:1px}
.tiny .teheader select {float:left; margin-top:5px}
.tiny .tefont {margin-left:12px}
.tiny .tesize {margin:0 3px}
.tiny .testyle {margin-right:12px}
.tiny .tedivider {float:left; width:1px; height:30px; background:#ccc}
.tiny .tecontrol {float:left; width:34px; height:30px; cursor:pointer; background-image:url(images/icons.png)}
.tiny .tecontrol:hover {background-color:#fff; background-position:30px 0}
.tiny .tefooter {height:32px; border-top:1px solid #bbb; background:#f5f5f5}
.tiny .toggle {float:left; background:url(images/icons.png) -34px 2px no-repeat; padding:9px 13px 0 31px; height:23px; border-right:1px solid #ccc; cursor:pointer; color:#666}
.tiny .toggle:hover {background-color:#fff}
.tiny .resize {float:right; height:32px; width:32px; background:url(images/resize.gif) 15px 15px no-repeat; cursor:s-resize}

.feature-info .desc-div {margin:0 0 15px;}
.feature-info .ticket-div a.TASK {color:navy;}
.feature-info .ticket-div a.BUG {color:#990000;}
.feature-info .ticket-div {margin:0 0 5px;}
fieldset {background-color:#fff;border:1px solid gray;margin:0 0 10px 0;}
fieldset legend {background-color:#fff;padding:2px 5px;border:1px solid gray;}

.t-autocomplete-menu {border:1px solid silver;border-top:none;background:white;}
.t-autocomplete-menu ul {list-style:none;cursor:pointer;}
.t-autocomplete-menu ul li:hover {background:#d0d0f0;}

.datePicker {background:#fff;padding:10px;border:1px solid silver;}

a.TASK {display:inline-block;padding-left:20px;min-height:16px;background:transparent url('/static/i/task.gif') 0 0px no-repeat;}
a.BUG {display:inline-block;padding-left:20px;min-height:16px;background:transparent url('/static/i/bug.gif') 0 0px no-repeat;}
.status.IN_PROGRESS{padding-left:20px;min-height:16px;background:transparent url('/static/i/status_inprogress.gif') 0 0 no-repeat;}
.status.OPEN{padding-left:20px;min-height:16px;background:transparent url('/static/i/status_open.gif') 0 0 no-repeat;}
.status.RESOLVED{padding-left:20px;min-height:16px;background:transparent url('/static/i/status_resolved.gif') 0 0 no-repeat;}
