.popup-window {
	background-color:#f0f0f0;
	padding:10px 10px 20px;
		min-width:700px;
	border:1px solid gray;
	box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
}
#popup-overlay {
	background:#fff;
	opacity:.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
}
.popup-close {
	clear:both;
	float:right;
	margin:0 0 10px 100%;
	padding:0 5px;
	font-size:20px;
}
